body,
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em; }

.text-thin {
  font-weight: 100; }

.text-light {
  font-weight: 300; }

.text-normal {
  font-weight: 400; }

.text-medium {
  font-weight: 500; }

.text-bold {
  font-weight: 700; }

.text-ultrabold {
  font-weight: 900; }

/* ---- */
.device-label {
  margin-top: 30px;
  border-bottom: 1px solid #ccd; }

/* current scale */
h1 {
  font-size: 48px;
  letter-spacing: -1px; }

h2 {
  font-size: 28px;
  /* or is this 34 px */ }

.option2 h2 {
  font-size: 34px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

/* perfect-fourth*/
.perfect-fourth h1 {
  font-size: 3.157em; }

.perfect-fourth h2 {
  font-size: 2.369em; }

.perfect-fourth h3 {
  font-size: 1.777em; }

.perfect-fourth h4 {
  font-size: 1.333em; }

.perfect-fourth h5 {
  font-size: 1em; }

.perfect-fourth h6 {
  font-size: 0.85em; }

/* end perfect fourth*/
/* custom 1.3 */
.custom13 h1 {
  font-size: 39px; }

.custom13 h2 {
  font-size: 28px; }

.custom13 h3 {
  font-size: 22px; }

.custom13 h4 {
  font-size: 19px; }

.custom13 h5 {
  font-size: 16px; }

.custom13 h6 {
  font-size: 14px; }

@media (min-width: 768px) and (max-width: 991px) {
  .custom13 h1 {
    font-size: 43.29px; }

  .custom13 h2 {
    font-size: 31.08px; }

  .custom13 h3 {
    font-size: 24.42px; }

  .custom13 h4 {
    font-size: 20.216px; } }
@media (min-width: 992px) {
  .custom13 h1 {
    font-size: 48.75px; }

  .custom13 h2 {
    font-size: 35px; }

  .custom13 h3 {
    font-size: 27.5px; }

  .custom13 h4 {
    font-size: 21.584px; }

  .custom13 h5 {
    font-size: 17px; } }
/* end custom 1.3 */
