/* current scale */

h1 {
    font-size: 48px;
    letter-spacing: -1px;
}
h2 {
    font-size: 28px;
    /* or is this 34 px */
}
.option2 h2 {
    font-size: 34px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}

/* perfect-fourth*/

.perfect-fourth h1 {
    font-size: 3.157em;
}
.perfect-fourth h2 {
    font-size: 2.369em;
}
.perfect-fourth h3 {
    font-size: 1.777em;
}
.perfect-fourth h4 {
    font-size: 1.333em;
}
.perfect-fourth h5 {
    font-size: 1em;
}
.perfect-fourth h6 {
    font-size: .85em
}

/* end perfect fourth*/


/* custom 1.3 */

$custom_font_h1: 38px; // 2.945 / 47
$custom_font_h2: 29px; // 2.248 / 36
$custom_font_h3: 22px; // 1.716 / 27
$custom_font_h4: 18px; // 1.31 (max 88%, not 80% scale) / 21
$custom_font_h5: 16px; // 1 / 16
$custom_font_h6: 14px; // .769 / 1
.custom13 h1 {
    font-size: $custom_font_h1;
}
.custom13 h2 {
    font-size: $custom_font_h2;
}
.custom13 h3 {
    font-size: $custom_font_h3;
}
.custom13 h4 {
    font-size: $custom_font_h4;
}
.custom13 h5 {
    font-size: $custom_font_h5;
}
.custom13 h6 {
    font-size: $custom_font_h6;
}
@media (min-width: 768px) and (max-width: 991px) {
    .custom13 h1 {
        font-size: #{1.11 * $custom_font_h1};
    }
    .custom13 h2 {
        font-size: #{1.11 * $custom_font_h2};
    }
    .custom13 h3 {
        font-size: #{1.11 * $custom_font_h3};
    }
    .custom13 h4 {
        font-size: #{1.064 * $custom_font_h4};
    }
}
@media (min-width: 992px) {
    .custom13 h1 {
        font-size: #{1.25 * $custom_font_h1};
    }
    .custom13 h2 {
        font-size: #{1.25 * $custom_font_h2};
    }
    .custom13 h3 {
        font-size: #{1.25 * $custom_font_h3};
    }
    .custom13 h4 {
        font-size: #{1.136 * $custom_font_h4};
    }
}

/* end custom 1.3 */
