/* current scale */
    
    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 28px;
        /* or is this 34 px */
    }
    
    .option2 h2 {
        font-size: 34px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    h4 {
        font-size: 20px;
    }
    
    h5 {
        font-size: 16px;
    }
    
    h6 {
        font-size: 14px;
    }
    /* perfect-fourth*/
    
    .perfect-fourth h1 {
        font-size: 3.157em;
    }
    
    .perfect-fourth h2 {
        font-size: 2.369em;
    }
    
    .perfect-fourth h3 {
        font-size: 1.777em;
    }
    
    .perfect-fourth h4 {
        font-size: 1.333em;
    }
    
    .perfect-fourth h5 {
        font-size: 1em;
    }
    
    .perfect-fourth h6 {
        font-size: .85em
    }
    /* end perfect fourth*/
    /* custom 1.3 */
    
    .custom13 h1 {
        font-size: 47px;
        /* 2.945em*/
        font-size: 3.26vw;
    }
    
    @media (max-width: 992px) {
        .custom13 h1 {
            font-size: calc (150% * 2.945) + em;
        }
    }
    
    .custom13 h2 {
        font-size: 2.248em;
    }
    
    .custom13 h3 {
        font-size: 1.716em;
    }
    
    .custom13 h4 {
        font-size: 1.31em;
    }
    
    .custom13 h5 {
        font-size: 1em;
    }
    
    .custom13 h6 {
        font-size: .769em;
    }
    /* end custom 1.3 */
    